.comment_wrapper {
  display: flex;
}

.fieldset {
  margin-left: 10px;
}

.comment_mark {
  display: inline-block;
  margin-left: 10px;
}

.commentWrapper {
  white-space: nowrap;
}

.hl {
  display: inline-block;
  padding: 3px 5px;
  background: #dcdcdc;
  border-radius: 5px;
}

.hl-warning {
  background: #8295d0;
}

.hl-success {
  background: #b7dab4;
}

.hl-error {
  background: #ce9d9d;
}

*:focus {
  outline: none;
}

.ocenka_status {
  display: inline-block;
  margin-right: 10px;
}

.fixed_btns {
  position: fixed;
  top: 10px;
  right: 25px;
}

.addCommentOnClick {
  cursor: pointer;
}

.comment_input {
  display: inline-block;
}

.btn.btn-remove {
  margin: 0 4px 4px 0;
  height: 20px;
  padding: 0;
  width: 20px;
  line-height: 20px;
  background-color: #9e9e9e;
  border-color: #9e9e9e;
  color: #FFF;
}