.comment_wrapper {
  display: flex;
}

.fieldset {
  margin-left: 10px;
}

.comment_mark {
  display: inline-block;
  margin-left: 10px;
}

.commentWrapper {
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  /*display: flex;*/
  /*width: 100%;*/
  /*position: relative;*/
  /*height: 10px;*/
}

.commentWrapper>div {
  width: 95%;
}

.commentWrapper>div.ocenka_status {
  width: 2%;
}

.commentWrapper > div.input-group {
  width: 95%;
  float: left;
  min-width: 400px;
  /* max-width: 100%; */
  min-height: 31px;
}
.commentWrapper p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.commentWrapper p.focused {
  white-space: normal;
  height: auto;
}
.commentWrapper .toggleP {
  position: absolute;
  left: -1.9rem;
  top: 0;
  display: none;
  cursor: pointer;
  /*background-color: #9e9e9e;*/
  border: 0;
  border-radius: .2rem !important;
}
.commentWrapper p.focused + .toggleP {
  display: inline-block;
}

.hl {
  display: inline-block;
  background: #dcdcdc;
  border-radius: 0;
  padding: 3px 0;
  margin-top: 1px;
}
.hl ~ .hl {
}
.hl.hl-last {
  border-radius: 0 5px 5px 0 !important;
  padding-right: 5px;
}
.hl.hl-start {
  padding-left: 5px;
  border-radius: 5px 0 0 5px;
}
.hl-last + .hl-start {
  margin-left: 3px;
}

.hl-warning {
  /*background: #8295d0;*/
  /*background: #a9ccf9;*/
  background: #82ABD0D4;
}

.hl-success {
  background: #b7dab4;
}

.hl-error {
    /*background: #ce9d9d;*/
  /*background: #f99a9a;*/
  background: #9630307d;
}

*:focus {
  outline: none;
}

.ocenka_status {
  display: inline-block;
  margin-right: 2%;
  padding-left: 1%;
  line-height: 30px;
}

.status_ok {
  color: green;
}

.status_fail {
  color: red;
}

.fixed_btns {
  position: fixed;
  top: 10px;
  right: 25px;
}

.addCommentOnClick {
  cursor: pointer;
}

.comment_input {
  display: inline-block;
}

.btn.btn-remove {
  margin: 0 4px 4px 0;
  height: 20px;
  padding: 0;
  width: 20px;
  line-height: 20px;
  background-color: #9e9e9e;
  border-color: #9e9e9e;
  color: #FFF;
}

input[name^="comment_"] {
  display: inline-block;
  background:#fff !important;
}

.copyRaw:before {
  width: 50px;
  height: 36px;
  position: absolute;
  top: 0;
  left: -50px;
  content: 'Ok';
  line-height: 36px;
  color: green;
  display: none;
}
.copyRaw.showed:before {
  display: inline-block;
}
#code {
  background: #EEE;
  padding-bottom: 3%;
  margin-bottom: 3%;
}
ol.linenums {
  counter-reset: item;
  list-style: none;
  padding-left: 0;
}
ol.linenums li:before {
  content: counter(item) " ";
  counter-increment: item;
  color: #AAA;
  display:inline-block;
  width:2em;
  display: inline-block;
  text-align: right;
  font-size: .9em;
}
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  /*list-style-type: decimal !important;*/
  list-style: none;
}
li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
  /*background: #FFF;*/
  background: none;
}
li[class^="L"]:hover {
  /*background: rgb(245,245,245);*/
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
  /*background: #EEE;*/
}
pre.prettyprint {
  border: 0;
}
.com {
  color: #AAA;
}
.commonComment {
  width: 95%;
}
.copyRaw {
  box-shadow: 0px 0px 3px 0px #000;
}
.autocomplete-suggestion {
  padding-top: 3px;
  padding-bottom: 3px;
}
.autocomplete-suggestions {
  max-height: 300px;
}

.errorsSwitcher {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .25rem;
  background: #f8f9fa;
  padding: .44rem .75rem .44rem 2.5rem;
  line-height: 1.5;
  position: relative;
  top: .1rem;
}
.hide_errors .hl {
  background: none !important;
}